 /*Neighborhood Map CSS*/

@media screen and (max-width: 800px) {
	#side-panel {
		display: none;
	}
	#map {
		width: 100%;
	}
}

@media screen and (min-width: 801px) {
	#mobile {
		display: none;
	}
	#map {
		width: 80%;
	}
	#side-panel {
		width: 20%;
	}
}

li,
h6 {
	font-family: 'Roboto', sans-serif;

}

input,
p {
	font-family: 'Raleway', sans-serif;
}

button {
	min-width: 50px;
	min-height: 50px;
}


html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.wrapper {
	height: 100%;
    position: relative;
}

.row {
	height: 100%;
}

#map {
	bottom: 0px;
    height: 100%;
    position: absolute;
    right: 0px;
}

#side-panel {
    background: #fff;
	height: 100%;
	line-height: 35px;
	padding: 0;
	text-align: left;
}

#filter {
	width: 100%;
}

ul {
	list-style-type: none;
	text-align: left;
	padding: 0 0 0 10px;
}

#infowindow {
	text-align: center;
}